  <div class="nav"> <!-- the nav bar must be present in all screens -->
            <nav>
                <ul>
                    <li id="checkmatelogo"> <a href="/upload" > <img src="../icons/Logo/checkmatelogotypewhite.png"> </li>
                    <li id="fcalogo"> <img src="../icons/fca logo.png"></a> </li>
                </ul>
            </nav>
        </div> <!-- copy everything up to here -->